.stack {
  transition: transform 0.25s ease-in-out;

  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &__banner {
    width: 72px;
    height: 72px;
    margin: 0 0 22px 0;
  }

  &__title {
    margin: 0 0 10px 0;

    font-size: 18px;
    line-height: 24px;
  }

  &__description {
    line-height: 1.5;
  }
}