.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--white-smoke);

  &__banner {
    width: 150px;
    height: 150px;
    margin: 0 0 50px 0;
  }

  &__heading {
    margin: 0 0 12px 0;
    font-size: 32px;
    line-height: 1.3;
  }

  &__heading-highlight {
    color: var(--lime-green);
  }

  &__description {
    max-width: 640px;
    margin: 0 0 16px 0;

    line-height: 2;
    text-align: center;
  }
}