.project {
  &__upper {
    max-width: 940px;
    margin: 0 auto 20px auto;

    display: flex;
    justify-content: space-between;
  }

  &__upper-info {
    padding: 0 0 0 0;

    flex: 1;
  }

  &__heading {
    margin: 0 0 12px 0;
    font-size: 32px;
    line-height: 1.3;
  }

  &__description {
    max-width: 640px;
    margin: 0 0 16px 0;

    line-height: 2;
    text-align: center;
  }

  &__button {
    display: inline-flex;
    align-items: center;

    &:hover {
      .social-media__button-icon {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__button-icon {
    width: 24px;
    height: 24px;
    margin: 0 8px 0 0;

    transition: filter 0.25s ease-in-out;
  }


  &__upper-banner {
    width: 360px;
    height: 360px;

    transform: translateY(-60px);
  }
}