.stack {
  transition: transform 0.25s ease-in-out;

  cursor: pointer;

  @media screen and (max-width: 992px) {
    text-align: center;
  }

  &:hover {
    transform: scale(1.2);
  }

  &__banner {
    width: 64px;
    height: 64px;
    margin: 0 0 22px 0;

    @media screen and (max-width: 992px) {
      margin: 0 auto 22px auto;
    }
  }

  &__title {
    margin: 0 0 10px 0;

    font-size: 18px;
    line-height: 24px;
  }

  &__description {
    line-height: 1.5;
  }
}