.footer {
  min-height: 80px;
  padding: 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 2px solid var(--white-smoke);

  @media screen and (max-width: 556px) {
    padding: 20px 16px;

    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: unset;
  }


  &__copyright {
    color: #b5b7c0;
    line-height: 1.5;

    @media screen and (max-width: 556px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 556px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__nav-item {
    margin: 0 0 0 36px;

    @media screen and (max-width: 556px) {
      margin: 0 0 8px 0;

      font-size: 14px;
      line-height: 20px;
    }

    & > a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}